# Server and Client Configuration
PORT=3000
NODE_ENV=development
VITE_API_BASE_URL=http://localhost:5000/api/v1
VITE_SOCKET_URL=http://localhost:5000

# Backend MongoDB & Security
MONGO_URI=mongodb://admin:password123@localhost:27017/campuspulse?authSource=admin
JWT_SECRET=super_secret_jwt_key_campuspulse_2026_dev_mode

# ML Microservice
ML_SERVICE_URL=http://localhost:8000
